.home-container{
   top:0rem;
   width: 100%;
   color: #f2e9e9;
   /* position: fixed; */
}

.actions{
   background-color: #f2e9e9;
}

.home-container .main-container{
   width: 100%;
   /* background-color: chocolate;
   margin-top: 5rem; */
   background-image: url("../../assets/images/home.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   height: 100vh;
   top:0rem;
   /* position: relative;
   margin-top: -6rem; */
}

.home-container .main-container .small-container{
   background-color:inherit;
   top:3rem;
   position: relative;
   display: flex;
   justify-content:right ;
   padding-right: 3rem;
}

.home-container .main-container .small-container ul{
   display: flex;
   gap: 1rem;
   padding-top: 0.5rem;
   padding-left: 0.5rem;
   padding-right: 1rem;
   /* font-family: monospace; */
}

.home-container .main-container .small-container ul a{
 color: black;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container .title{
   height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.main-container .title h1{
   font-family: monospace;
   font-weight:bolder;
   font-size:10rem; 
   color:rgb(2, 14, 68);
   text-shadow:  0 0 5px #fff, /* White glow */
   0 0 10px #fff, /* White glow */
   0 0 15px #ffffff, /* Magenta glow */
   0 0 20px #ffffff ;
}

.main-container .title p{
   font-family: cursive;
   font-weight:bolder;
   font-size:2rem; 
   color:rgb(223, 247, 6);
   text-shadow:  0 0 5px #001288, /* White glow */
   0 0 10px #001288, /* White glow */
   0 0 15px  #001288, /* Magenta glow */
   0 0 20px #001288 ;
}

.searchbar{
   width: 40%;
   padding-top: 10px;
   display: flex;
   gap: 1rem; 
}

.searchbar input{
   border-radius :5px;
   display: flex;
   align-items:center;
   width:100%;
   padding: 0.5rem;
}

.searchbar input:hover{
   background-color: rgb(238, 237, 255);
}

.searchbar button{
   color:white;
   background-color:rgb(39,3,72);
   border-radius: 0.5rem;
}

.searchbar button:hover{
   background-color:rgb(0, 0, 0); 
}

.searchbar button :hover{
   background-color:rgb(39,3,72);
}

.home-container .menu-container{
   padding-top: 2rem;
   padding-right: 2rem;
   padding-left: 1rem;
   width: 100%;
   background-image: linear-gradient(rgb(153, 153, 235),white);
}

.content{
   padding: 0.5rem;
   padding-top: 1.5rem;
   background-color: rgb(219, 217, 231);
   width: 100%;
   height: 100%;
}

.content h2{
   text-align: left;
}

.buttons{
   display: flex;
   gap: 0.5rem;
   /* background-color:red; */
   align-items: center;
}

.buttons .favourite{
   /* background-color: rgb(255, 255, 255); */
   padding: 1rem;
   height: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
}

.buttons .favourite i{
   font-size: 1.5rem;
   color: rgb(0, 0, 0);
}

.buttons .btn{
   height: 100%;
}

.grid{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:2rem;
   align-content: center;
   @media (max-width:786px) {
      grid-template-columns: repeat(2,1fr);
   }
}

.card{
   align-items: start;
   margin-bottom: 1rem;
   margin-left: 1rem;
   margin-right: 1rem;
   background-color: red;
}

.card img{
object-fit: contain;
width: 100%;
height: 15rem;
/* background-color: red; */
}

.card .image{
   height: 15rem;
   width: 100%;
   background-color: #fff;
}
