.mmenu-container{
    background-image: linear-gradient(grey,white);
    width: 100%;
    margin-top: 0;
}

.mmenu-container h1{
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
}

.mboxes{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    padding: 1rem;
}

.mboxes .mbox{
   display: flex;
   flex-direction:column;
   background-color: rgb(117, 191, 255);
   border-radius: 1rem;
   width: 15rem;
}

.mboxes .mbox h2{
    text-align: left;
 }


.mboxes .box .mmenu-image{
    width: 100%;
    /* background-color: red; */
}

.mmenu-image img{
    height: 10rem;
    width: 100%;
    border-radius: 1rem;
}

.mmenu-content{
    padding: 0.5rem;
}

.mbuttons{
    display: flex;
    gap: 0.5rem;
    /* background-color:red; */
    align-items: center;
}

.mbuttons .mfavourite{
    /* background-color: rgb(255, 255, 255); */
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.mbuttons .mfavourite i{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.mbuttons .btn{
    height: 100%;
}

.mboxes h2{
    margin-top: 10rem;
}