.menu-container{
    background-image: linear-gradient(grey,white);
    width: 100%;
    margin-top: 0;
}

.menu-container h1{
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 1rem;
}

.boxes .box{
   display: flex;
   flex-direction:column;
   background-color: rgb(59, 122, 180);
   border-radius: 1rem;
}

.boxes .box h2{
    text-align: left;
 }


.boxes .box .menu-image{
    width: 100%;
    /* background-color: red; */
}

.menu-image img{
    height: 15rem;
    width: 100%;
    border-radius: 1rem;
}

.content{
    padding: 0.5rem;
}

.buttons{
    display: flex;
    gap: 0.5rem;
    /* background-color:red; */
    align-items: center;
}

.buttons .favourite{
    /* background-color: rgb(255, 255, 255); */
    padding: 1rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.buttons .favourite i{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.buttons .btn{
    height: 100%;
}