th{
    text-align: center;
}

.cus-orders{
    background-image: url("https://i.pinimg.com/736x/f1/5e/0f/f15e0fdc3c87c48847f76b02adb9c9a4.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
