body{
    margin: 0;
    padding: 0;
 }
.register-main-container{
    /* margin-top: -1.5rem; */
    /* display:flex; */
    /* grid-template-columns: auto auto auto auto; */
    background-image: linear-gradient(rgb(116, 116, 129),rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
}


.user-reg-form{
    border:solid 0.1rem;
    border-radius: 0.5rem;
    border-color: rgba(255, 255, 255, 0.864);
    padding: 1rem;
    background-color: inherit;
    margin-top: 6rem;
    margin-bottom: 1rem;
    height: 42%;
    width: 40%;
    margin-left: 30%;
}

.user-reg-form input:hover{
  background-color: rgb(168, 244, 247);
}

h2{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.btn{
    margin-top: 1rem;
}

.inner-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

 }

.inner-container a{
    color: rgb(140, 187, 240);
    text-decoration: underline;
}

.inner-container .button-container{
    display:flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inner-container .urlogin-inner-container{
    color: aliceblue;
    display: flex;
    margin-top: 3rem;
}

.inner-container .urlogin-inner-container a{
  color: rgb(185, 255, 45);
}

.user-reg-form label{
    margin-top: 0.5rem;
    font-size: larger;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

Footer{
    height: 20%;
}

.flex{
  display: flex;
  gap: 2rem;
  width: 100%;
}

