.table-container{
  /* background-color: #45a049; */
  margin-left: 2rem;
  margin-right: 2rem;
}
.vendors {
  width: 100%;
  border:solid black;
}

.vendors th,
.vendors td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.vendors th {
  background-color: #ffffff;
}

.vendors tr:nth-child(odd) {
  background-color: #fba9a975;
}

.vendors tr:hover {
  background-color: #78f8ff;
}

.vendors .btn {
  padding: 5px 10px;
  background-color: #7c0000;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.vendors .btn:hover {
  background-color: #45a049;
}

h1{
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  color: #000000;
  text-shadow: 0 0 5px #2ca4ff;
}

h3{
  margin-left: 2rem;
}

.btn-active{
  background-color: #000592;
  color: #ffffff;
  border-radius: 1rem;
}

.data{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
}

.data .data-card{
  background-color: #03054a;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

th{
  background-image: linear-gradient(rgb(93, 93, 93),white);
}